*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 25%;
    background: #16a085;
}
.navbar header{
    color: #ecf0f1;
    font-size: 30px;
    margin-bottom: 30px;
}
.navbar header span{
    color: #05c46b;
    font-size: 35px;
}
.navbar main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.item{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 250px;
    height: 60px;
    font-size: 20px;
}
.item a{
    text-decoration: none;
    color: #ecf0f1;
    transition: color 0.5s;
}
.item img{
    margin-right: 10px; 
    width: 15%;
}
.item a:hover{
    color: #05c46b;
}
.info{
    display: flex;
    flex-direction: column; 
    width: 75%;
}
.info-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    background: #55efc4;
    color: white;
}
.info-detalhes{
    display: flex;
    flex-direction: column;
}
.title{
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 80px;
}
.title h1{
    color: #00b894;
}
.title p{
    line-height: 70px;
    font-size: 20px;
}
.btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    height: 50px;
}
.btns a{
    display: block;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.5s;
    margin-right: 25px;
}
/* #criar_estufa{
    color: #00b894;
    border: 2px solid #00b894;
}
#criar_estufa:hover{
    color: white;
    background: #00b894;
}
#editar_estufa{
    color: #27ae60;
    border: 2px solid #27ae60;
    display: none;
}
#editar_estufa:hover{
    color: white;
    background: #27ae60;
}
#excluir_estufa{
    color: #d63031;
    border: 2px solid #d63031;
    display: none;
}
#excluir_estufa:hover{
    color: white;
    background: #ff7675;
} */
.estufas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
}
.item-estufas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    border-radius: 25px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.49);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.49);
}
.item-estufas form {
    display: none;
}
.item-estufas input{
    height: 25px;
    width: 250px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: black 1px solid;
}
select {
    height: 25px;
    width: 250px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: black 1px solid;
}
.item-estufas button{
    width: 100px;
    height: 30px;
    margin-left: 75px;
    border: 1px black solid;
    border-radius: 15px;
    transition: background 0.5s;
}

.item-estufas button:hover{
    color: white;
    background: #3eb9a1;
}

.item-estufas img{
    transition: all 0.5s;
    width: 30%;
    margin-bottom: 50px;
    cursor: pointer;
}

.item-estufas img:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}
.item-estufas p{
    color: #55efc4;
    line-height: 30px;
    font-size: 20px;
}
.item-estufas a{
    color: #55efc4;
    text-decoration: none;
}