* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}


/* width */

* ::-webkit-scrollbar {
    width: 8px;
    background: #1C1C1C;
}


/* handle */

* ::-webkit-scrollbar-thumb {
    background: #51d9ba;
    border-radius: 5px;
}

.navbar {
    background-color: white;
    height: 70px;
    width: 100%;
}

.container {
    height: 70px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar li {
    list-style: none;
    margin-left: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    cursor: pointer;
    transition: color 0.5s;
}

.container a {
    text-decoration: none;
    color: black;
}

.login a {
    text-decoration: none;
    color: black;
}

.navbar li:hover {
    color: green;
}

.container a:hover {
    color: green;
    transition: color 0.5s;
}

.bandeira img {
    height: 20px;
    border-radius: 20%;
    cursor: pointer;
}

.fundo {
    height: 89vh;
    background: url('../imagens/hidroponia.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fundo h1 {
    color: white;
    font-size: 50px;
    text-shadow: 2px 2px black;
}

.fundo p {
    color: white;
    font-size: 25px;
    text-shadow: 2px 2px black;
}

.fundo button {
    height: 40px;
    width: 150px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    background-color: rgba(4, 175, 4);
    border: 1px solid green;
    border-radius: 20px;
    transition: transform 0.5s;
    cursor: pointer;
    outline: none;
}

.fundo button:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 14px 2px rgba(0, 0, 0, 0.75);
}

.seta {
    margin-top: 30px;
    animation: seta 1s infinite;
    position: absolute;
}

.seta img {
    height: 41px;
}

@keyframes seta {
    0% {
        bottom: 10vh;
    }
    50% {
        bottom: 5vh;
    }
    100% {
        bottom: 10vh;
    }
}

.contato {
    display: flex;
    justify-content: space-evenly;
    height: 75px;
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.contato img {
    width: 30px;
    margin-right: 15px;
}

.contato div {
    display: flex;
    align-items: center;
}

.login {
    display: flex;
    align-items: center;
    margin-left: 80px;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid rgb(146, 202, 122);
}

.login img {
    height: 20px;
    margin-right: 10px;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 70vh;
}

.infos {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 30vh;
}

.info-title {
    display: flex;
    width: 20%;
    height: 25%;
}

.info-title img {
    width: 100%;
    height: 100%;
}

.info-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.info-text h1 {
    line-height: 30px;
    color: #1dd1a1;
    font-size: 20px;
}

.info-text p {
    margin-top: 10px;
    color: black;
    font-size: 18px;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #ecf0f1;
}

.about-info {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.about-info h1 {
    font-style: italic;
    font-weight: 400;
    font-size: 35px;
    line-height: 80px;
}

.about-info p {
    font-size: 18px;
    color: black;
}

.about-info img {
    width: 100%;
    height: 100%;
}

.title-team {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-style: italic;
    font-size: 18px;
}

.team-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 110vh;
}

.team-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 350px;
}

.team-header {
    display: flex;
    height: 70%;
    width: 60%;
    border-radius: 50%;
    -webkit-box-shadow: 10px 11px 5px 0px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 10px 11px 5px 0px rgba(0, 0, 0, 0.34);
    box-shadow: 10px 11px 5px 0px rgba(0, 0, 0, 0.34);
}

.team-header img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.team-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.team-content h2,
p {
    font-family: 'Roboto', sans-serif;
    color: black;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.contact-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 30%;
}

.contact-title h1 {
    font-size: 30px;
    font-style: italic;
}

.contact-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 70%;
    height: 50vh;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-style: italic;
    font-size: 18px;
    height: 250px;
    width: 50%;
    /*border-right: 2px solid #bdc3c7;*/
}

.contact-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
    width: 50%;
}

.contact-about label {
    font-size: 25px;
    margin-bottom: 20px;
    font-style: italic;
}

.contact-about input {
    width: 250px;
    height: 30px;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: #95a5a6;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.contact-about a {
    display: block;
    text-align: center;
    padding: 10px;
    width: 130px;
    background-color: rgb(23, 204, 150);
    color: black;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

.footer {
    height: 35vh;
    width: 100%;
}

.contato_footer {
    height: 70%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: 0.5s;
}

.contato_footer i:hover {
    color: white;
}

.redes_sociais {
    display: flex;
}

.redes_sociais i {
    color: rgb(122, 173, 112);
    font-size: 24px;
    margin: 0 5px;
}

.topicos ul {
    display: flex;
    align-items: center;
}

.topicos li {
    list-style: none;
    margin-left: 8px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: rgb(122, 173, 112);
    cursor: pointer;
    transition: color 0.5s;
}

.topicos a {
    text-decoration: none;
    color: rgb(122, 173, 112);
}

.topicos a {
    text-decoration: none;
    color: rgb(122, 173, 112);
}

.topicos li:hover {
    color: white;
}

.topicos a:hover {
    color: white;
    transition: color 0.5s;
}

.novidades {
    display: flex;
}

.novidades h2 {
    color: rgb(122, 173, 112);
    font-weight: 500;
    font-size: 19px;
    margin-right: 11px;
}

.novidades input {
    height: 22px;
    width: 167px;
    outline: none;
    border-radius: 7px;
    border: 2px solid #282229;
    background-color: #ffffff;
}

.novidades button {
    height: 26px;
    width: 94px;
    border-radius: 8px;
    border: 2px solid black;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
}

.novidades button:hover {
    background-color: rgb(122, 173, 112);
}

.site {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 100%;
    background-color: rgb(122, 173, 112);
}

.site h4 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}