body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(238,238,238);
    }
    
.borda{
    background-color: rgb(174,234,149);
    height: 10px;
}

.navbar{
    background-color: white;
    height: 70px;
}

.conteudo{
    height: 70px;
    width: 90%;
    margin-left: 30px;
}

ul{
    float: right;
    text-transform: uppercase;
    margin-left: 0%;

}
li{
    float: left;
    margin: 18px;
    list-style: none;
}

.idioma{
    float: right;
    margin-left: 10%;
    margin-right: 60px;
    margin-top: 25px;
    
}